lx-tabs {
  flex: 0 0 40px;
  display: flex;
  background-color: rgba(102, 51, 153, 0.1);
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    background: #673ab7;
  }

  &.cdk-drop-list-dragging lx-tab:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}
