lx-tasks {
  display: block;
  width: 400px;
  height: 600px;
  position: relative;
  padding-top: 20px;
  overflow: scroll;

  .mat-form-field {
    width: 100%;
    padding: 0 12px 0 20px;
    box-sizing: border-box;
    .mat-icon-button {
      position: absolute;
      right: 0;
      bottom: 0;
      &:hover {
        color: #673ab7;
      }
    }
  }
  .add-task {
    float: right;
    &:hover {
      color: #673ab7;
    }
  }
}
