<form [formGroup]="form">
    <div class="tasks" formArrayName="tasks">
        <div class="task" [formGroupName]="index" *ngFor="let task of tasks.controls; let index = index">
            <mat-form-field>
                <input (keydown.enter)="addTask()" formControlName="content" matInput placeholder="Task" type="text"/>
                <a (click)="removeTask(index)"
                        mat-icon-button
                        matTooltip="Mark as complete"
                ><mat-icon class="fa fa-check"></mat-icon></a>
            </mat-form-field>
        </div>
    </div>
</form>


