<h4 *ngIf="dependency$ | async as dependency" (click)="closed = !closed">
    <span class="fa accordion-icon"></span>
    {{dependency.name}}
    <span class="sub-header" *ngIf="linkedDependencies$ | async as linkedDependencies">
      <span *ngIf="linkedDependencies.length" class="fa fa-link"></span>
      <span *ngFor="let dependency of linkedDependencies">
          {{dependency.name}}
      </span>
    </span>
</h4>
<lx-package-dependency
    *ngFor="let dependency of notLinkedDependencies$ | async"
    [dependency]="dependency"
    [project]="project$ | async"
></lx-package-dependency>
