lx-package-dependency {
  margin: 10px;
  height: auto;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  background: rgba(102, 51, 153, 0.1);
  cursor: pointer;
  font-size: 12px;

  .fa-circle-notch {
    font-size: 14px;
    line-height: 14px;
  }

  &.linking {
    cursor: initial;
    pointer-events: none;
    color: white;
    background: #673ab7;
  }

  &:not(.linking):hover {
    color: white;
    background: #673ab7;
    transition: background 0.2s;
  }
}
