<mat-tab-group (selectedIndexChange)="selectProject(config.projects[$event])">
  <mat-tab [label]="project.name" *ngFor="let project of config.projects; let projectIndex = index">
      <app-project [projectIndex]="projectIndex" (processCreated)="listen($event)" (killProcess)="kill($event)"></app-project>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="fa fa-plus"></span>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<mat-tab-group class="terminal-tabs" (selectedIndexChange)="renderTerminal(processes[$event])">
  <mat-tab *ngFor="let process of processes">
    <ng-template mat-tab-label>
      {{process.name}}
      <i class="fa fa-trash-alt" (click)="kill(process.pty)"></i>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<app-terminal #terminal></app-terminal>
