app-root {
  .mat-tab-body.mat-tab-body-active {
    overflow: hidden;
  }
  > .mat-tab-group {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    > .mat-tab-body-wrapper {
      position: absolute;
      top: 48px;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .mat-select {
    width: 100px;
  }

  app-project {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    .mat-checkbox-label {
      font-family: "Roboto Mono", sans-serif;
      font-size: 12px;
    }
    .interface-container {
      flex: 0 1 auto;
      margin-bottom: 20px;
    }

    .mat-tab-group {
      flex:auto;
      position: relative;
      > .mat-tab-body-wrapper {
        position: absolute;
        top: 48px;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    .terminal-container {
      position: absolute;
      background-color: #1e1e1e;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      .xterm-viewport {
        overflow: auto;
      }
    }
  }


  [align-center] {
    text-align: center;
  }

}

