app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  > .mat-tab-group {
    flex: 1 1 auto;
  }

  .mat-select {
    width: 144px;
    padding: 9px;
    background: rgba(102, 51, 153, 0.05);
    font-family: 'Roboto Mono', sans-serif;
    .mat-select-value {
      color: #673ab7;
    }
  }

  .mat-tab-label-content {
    padding: 0 20px;
  }

  .fa-pause, .fa-play {
    position: absolute;
    left: 20px;
  }

  .fa-trash-alt {
    position: absolute;
    right: 20px;
  }

  app-project {
    flex: 0 1 auto;

    .mat-checkbox-label {
      font-family: "Roboto Mono", sans-serif;
      font-size: 12px;
    }
    .interface-container {
      margin-bottom: 20px;
    }
  }

  app-terminal {
    flex: auto;
    position: relative;
    display: block;
    .terminal-window {
      position: relative;
      background-color: #1e1e1e;
      margin: 40px auto;
      width: 800px;
      height: 450px;
      outline: 20px solid rgba(102, 51, 153, 0.05);
      text-align: center;
      .xterm-viewport {
        overflow: auto;
      }
      .xterm-screen {
        margin: 2px auto;
      }
    }
    .fa.fa-expand {
      color: white;
      position: absolute;
      top: 9px;
      right: 10px;
      z-index: 10;
      cursor: pointer;
    }
  }

  .lerna-dependency {
    padding: 10px;
    margin: 20px;
    font-family: "Roboto Mono", sans-serif;
    background: rgba(102, 51, 153, 0.05);
    position: relative;
    user-select: none;

    h4 {
      cursor: pointer;
      margin: 10px;
    }
    &.closed {
      .mat-checkbox {
        display: none;
      }
    }
  }

  .config-creator {
    padding: 50px;

    .example-config {
      white-space: pre;
    }
  }


  [align-center] {
    text-align: center;
  }

}

