lx-command-container {
  background: white;
  display: flex;
  flex: 0 0 40px;
  justify-content: center;
  text-align: center;
  .commands {
    display: inline-block;
    color: black;
    z-index: 10;
    text-align: center;
    padding: 6px;
    .fa {
      padding: 5px;
      cursor: pointer;
      &:hover, &.queued {
        background: #673ab7;
        color: white;
      }
    }
  }
}


