lx-terminal {
  flex: 0 0 460px;
  position: relative;
  display: flex;
  flex-direction: column;

  .fa-trash-alt {
    color: #673ab7;
    padding: 4px;
    margin-right: 4px;
    &:hover {
      color: white;
      background: #673ab7;
      border-radius: 50%;
    }
  }
  .terminal-window {
    background-color: #1e1e1e;
    text-align: center;
    flex: 0 0 420px;
  }

  .xterm .xterm-viewport::-webkit-scrollbar-thumb {
    background: #EDEEF3;
  }
}
