<lx-tabs cdkDropList cdkDropListOrientation="horizontal"  (cdkDropListDropped)="processState.move($event.previousIndex, $event.currentIndex)">
  <lx-tab *ngFor="let process of processState.all$ | async"
       [class.active]="(processState.selected$ | async) === process"
       (click)="processState.select(process)"
       cdkDrag
  >
    <span class="fa fa-times" (click)="processState.remove(process)"></span>
    {{process.name}}
  </lx-tab>
</lx-tabs>
<div class="terminal-window" [style.flex-basis]="rows * 14" #container></div>
