<div align-center class="command-container">
  <mat-select *ngIf="project.type === ProjectType.Angular" [(value)]="selectedApplication">
    <ng-scrollbar [compact]="true">
      <mat-option *ngFor="let app of applications" [value]="app">{{app}}</mat-option>
    </ng-scrollbar>
  </mat-select>
  <div class="commands">
    <span *ngIf="project.type === ProjectType.Angular"  class="fa fa-play" (click)="processState.add(npm.start(selectedApplication))" matTooltip="Start"></span>
    <span *ngIf="project.type" class="fa fa-download" (click)="processState.add(npm.install())" matTooltip="Install"></span>
<!--    <span *ngIf="project.type === ProjectType.Angular" class="fa fa-hammer" (click)="processState.add(npm.deploy())" matTooltip="Build & Release"></span>-->
    <span *ngIf="!configuring" class="fa fa-cog" (click)="configuring = true" matTooltip="Configure"></span>
    <span *ngIf="configuring" class="fa fa-save" (click)="config.save(projectConfiguring.form.value, projectIndex) ? configuring = false : null" matTooltip="Save"></span>
  </div>
</div>
<ng-scrollbar class="interface-container" [compact]="true" >
  <app-config *ngIf="configuring else dependencies" [project]="project" #projectConfiguring></app-config>

  <ng-template #dependencies>
    <app-complex-dependency *ngFor="let dependency of complexDependencies"
                            [dependencies]="dependency.dependencies"
                            [project]="project"
                            [name]="dependency.name"
                            (link)="processState.add(npm.link($event.name, $event.directory))"
    ></app-complex-dependency>
    <span *ngFor="let dependency of packageDependencies"
          (click)="processState.add(npm.link(dependency.name, dependency.directory))"
          class="package"
    >{{dependency.name}}</span>
  </ng-template>
</ng-scrollbar>
