<div class="interface-container">
  <ng-container *ngFor="let dependency of project.dependencies"  [ngSwitch]="dependency.type">
    <div *ngSwitchCase="DependencyType.Lerna" class="lerna-dependency closed" #accordion>
      <h4 (click)="accordion.classList.toggle('closed')">
        <span class="fa"
              [class.fa-plus]="accordion.classList.contains('closed')"
              [class.fa-minus]="!accordion.classList.contains('closed')"
        ></span>
        {{dependency.name + (dependency.scope ? ' - ' + dependency.scope : '')}}
      </h4>

      <mat-checkbox *ngFor="let p of lernaService.packages[dependency.name]"
                    [disabled]="isPackageLinked(p)"
                    [checked]="isPackageLinked(p)"
                    (click)="link(p)"
      >{{dependency.scope ? p.name.replace(dependency.scope + '/', '') : p.name}}</mat-checkbox>
    </div>
    <mat-checkbox *ngSwitchDefault
      [disabled]="isPackageLinked(dependency)"
      [checked]="isPackageLinked(dependency)"
      (click)="link(dependency)"
    >{{dependency.name}}</mat-checkbox>
  </ng-container>


  <div align-center>
    <mat-select [(value)]="selectedApplication">
      <mat-option *ngFor="let app of applications" [value]="app">{{app}}</mat-option>
    </mat-select>
    <button *ngIf="!serveProcess" mat-stroked-button color="primary" (click)="start(selectedApplication)">Start</button>
    <button *ngIf="serveProcess" mat-stroked-button color="primary" (click)="stop()">Stop</button>
    <button mat-stroked-button color="primary" (click)="install()">Install</button>
  </div>
</div>
