lx-project {
  flex: auto;
  padding: 0 12px 0 20px;
  position: relative;
  box-sizing: border-box;
  overflow-y: scroll;

  .sub-header {
    font-weight: normal;
    font-size: 14px;
    .fa.fa-link {
      margin: 0 10px;
    }
  }

  .fa.fa-link {
    font-size: 12px;
    transform: rotate(45deg);
  }

}
