.interface-container {
  padding: 20px 20px;
  box-sizing: border-box;
  .ng-scrollbar-visible {
    right: -20px!important;
  }

  form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    .mat-form-field {
      margin: 0 10px;
      font-family: "Roboto Mono", sans-serif;
    }
    .type {
      height: 39px;
      box-sizing: border-box;
      display: inline-block;
      margin-bottom: 20px;
      width: 160px;
    }
    .remove {
      margin-bottom: 20px;
    }
    .directory {
      flex: 1;
    }
    .dependencies {
      width: 100%;
    }
    .dependency {
      display: flex;
      align-items: flex-end;
      width: 100%;
    }
  }





  .lerna-dependency {
    padding: 10px;
    margin: 20px 0;
    font-family: "Roboto Mono", sans-serif;
    background: rgba(102, 51, 153, 0.05);
    position: relative;
    user-select: none;

    h4 {
      cursor: pointer;
      margin: 10px;
    }
    &.closed {
      .mat-checkbox {
        display: none;
      }
    }
  }

  .commands {
    display: inline-block;
    margin-left: 20px;
    background: #673ab7;
    border-radius: 5px;
    color: white;
    z-index: 10;
    text-align: center;
    padding: 6px;
    .fa {
      margin: 6px;
      cursor: pointer;
    }
  }
}
