lx-project-tabs {
  .tab {
    .fa.fa-cog {
      display: none;
    }
    &.long-hover {
      .fa.fa-cog {
        display: inline;
        position: absolute;
        &:hover {
          background: #673ab7;
          color: white;
          padding: 5px;
          border-radius: 50%;
        }
      }
      .project-name {
        visibility: hidden;
      }
    }
  }
}
