.interface-container {
  padding: 40px 20px 0 20px;
  position: relative;
  box-sizing: border-box;
  .ng-scrollbar-visible {
    right: -20px!important;
  }

  .sub-header {
    font-weight: normal;
    font-size: 14px;
    .fa.fa-link {
      margin: 0 10px;
    }
  }

  .fa.fa-link {
    font-size: 12px;
    transform: rotate(45deg);
  }

  form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    .mat-form-field {
      margin: 0 10px;
      font-family: "Roboto Mono", sans-serif;
    }
    .type {
      height: 39px;
      box-sizing: border-box;
      display: inline-block;
      margin-bottom: 20px;
      width: 160px;
    }
    .remove {
      margin-bottom: 20px;
    }
    .directory {
      flex: 1;
    }
    .dependencies {
      width: 100%;
    }
    .dependency {
      display: flex;
      align-items: flex-end;
      width: 100%;
    }
  }
}

.command-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: white;
  display: flex;
  justify-content: center;
}

.commands {
  display: inline-block;
  color: black;
  z-index: 10;
  text-align: center;
  padding: 6px;
  .fa {
    margin: 5px;
    cursor: pointer;
  }
}
