/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~src/app/app.component";
@import "~xterm/dist/xterm.css";

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(/assets/fonts/Dosis-Regular.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body, html {
  font-family: "Roboto Mono", sans-serif;
  background-color: #EDEEF3;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(102, 51, 153, 0.1);
}

.mat-option-text {
  font-family: "Roboto Mono", sans-serif;
  font-size: 12px;
}

mat-list-item {
  height: 30px;
  font-family: 'Roboto Mono', sans-serif;
}

button.mat-stroked-button {
  font-family: 'Roboto Mono', sans-serif;
  margin-left: 20px;
}

html {
  .mat-select {
    width: 144px;
    padding: 9px;
    background: white;
    font-family: 'Roboto Mono', sans-serif;
    .mat-select-value {
      color: black;
    }
  }
  .mat-select-panel {
    border-radius: 0;
    position: relative;
    height: 256px;
  }
  .mat-option {
    &.mat-active {
      background: rgba(102, 51, 153, 0.1);
    }
    &.mat-selected:not(.mat-option-multiple):not(.mat-option-disabled):not(:hover) {
      background: rgba(102, 51, 153, 0.1);
    }
    &:hover:not(.mat-option-disabled) {
      background: rgba(102, 51, 153, 0.05);
    }
  }
  .mat-snack-bar-container {
    background: white;
    color: black;

    .mat-button {
      color: #673ab7;
    }
  }


  @keyframes slide {
    0%{ }
    100%{
      transform: translateY(0);
    }
  }

  .cdk-overlay-pane.slide {
    transform: translateY(-100%);
    animation: slide .8s forwards 0s ease;
  }

  .mat-dialog-container {
    will-change: transform, opacity;
  }

  .mat-tooltip {
    max-width: 300px;
    background: #673ab7;
    color: white;
    font-family: "Roboto", sans-serif;
  }

  .mat-dialog-container {
    padding: 0;
    border-radius: 0;
  }
}

